@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Mitr:wght@300;400;500&display=swap');

:root{
    --primary-color: #00c1d1;
    --bg-color: #1a1b1f;
    --font-color: white;
    --font-grey: #959595;
    --secondary-color: #e5587d;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--font-color);
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.header {
    width: 100%;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    padding: 0 3.75rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header__title a img {
    width: 12.5rem;
 }

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.card {
    width: 80%;
    max-width: 21.875rem;
    height: 28.125rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25rem;
    border-radius: 0.625rem;
    background: rgba(170, 160, 160, 0.11);
    border-radius: 1rem;
}

.card img {
    width: 6.25rem;
    opacity: 50%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.25rem;
}

.mail,
.password {
    width: 100%;
}

.input {
    color: var(--font-color);
    border: none;
    height: 1.25rem;
    background-color: transparent;
    border-bottom: 0.0625rem solid #777777;
}

.input::placeholder{
    color: #777777;
}

.login-icon {
    color: #777777;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 0.625rem;
    flex-direction: row;
}

#error-message{
    font-size: 0.875rem;
    color: var(--secondary-color);
}

.btn{
    width: 100%;
    background-color:rgba(170, 160, 160, 0.11);
    border: 0.125rem solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 3.125rem;
    color: white;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    margin-top: 0.9375rem;
}

.btn:hover{
    background-color: var(--font-grey);
    transition: all 0.1s ease-in;
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    height: 2.5rem;
    position: relative;
    cursor: pointer;
}

.option-text {
    font-size: 12px;
}

.option-text-hover:hover {
    color: var(--primary-color);
    transition: all 0.1s ease-in;
}

.input-container.error input{
    border-bottom: 0.125rem solid #e62a5c;
}

.input-container small{
    margin-top: 0.3125rem;
    color: #e62a5c;
    text-align: center;
    display: none;
    max-width: 11.25rem;
    font-size: 0.625rem;
}

.input-container.success input{
    border-bottom: 0.125rem solid #1fc42f;
}

@keyframes spin {
    from  {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
} 

.card-img:hover{
    animation: spin 0.7s ease-in;
}

