:root{
    --primary-color: #00c1d1;
    --bg-color: #1a1b1f;
    --font-color: white;
    --font-grey: #959595;
    --secondary-color: #e5587d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; 
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header  */
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--bg-color);
}

header a img{
    width: 120px;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav ul li a{
    color: var(--font-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}



.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-right a{
    color: var(--font-color);
    font-size: 14px;
}

.mobile{
    display: none;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icons i {
    font-size: 20px;
}

.cart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon{
    display: none;
}

.log-out{
    cursor: pointer;
}


.navbar-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center; 
}

.overlay {
    position: absolute;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; 
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(1, 2, 5, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.open-menu{
    position: absolute;
    height: calc(100vh - 80px);
    top: 80px;
    right: 0;
    width: 70%;
    z-index: 2;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart{
    display: none;
}

.open-cart{
    position: absolute;
    width: 450px;
    top: 80px;
    right: 0;
    height: calc(100vh - 80px);
    padding: 50px 30px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    color: var(--font-color);
}

.cart-icon i{
    position: relative;
}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: var(--secondary-color);
    color: var(--font-color);
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

.cart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.open-cart .btn{
    max-width: 300px;
}

.show-overlay{
    display: block;
}

.cart-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    border: 1px solid var(--font-color);
    border-radius: 8px;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.product-img-container{
    width: 80px;
    border-radius: 8px;
    overflow: hidden;
}

.product-img-container img{
    width: 100%;
}

.product-info{
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.product-name{
    max-width: 150px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-artist{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.product-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.quantity-handler{
    width: 30px;
    height: 30px;
    padding: 4px 8px;
    border: 1px solid var(--font-color);
    border-radius: 8px;
}


.divider {
    margin-top: 20px;
    border: 1px solid var(--font-color);
    width: 100%;
}

.btn-delete{
    margin-top: 10px;
    border: none;
    background-color: var(--bg-color);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}



/* Main */
main,
.hero{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-total{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
  }
  
  .active-modal{
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }

/* Hero  */
section{
    margin-top: 80px;
}

.hero-img{
    width: 100%;
    max-width: 800px;
    position: relative;
}

.hero-img img{
    width: 100%;
    object-fit: cover;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    font-size: 40px;
    font-weight: 500;
}

.hero__title--highlight {
    padding: 0 5px;
    font-size: 40px;
    background: linear-gradient(to bottom, transparent 50%, var(--primary-color) 50% );
}

.centered a{
    background-color: var(--font-color);
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}



.hero-bottom-section{
    margin: 0 50px;
    width: 100%;
}

.hero-bottom{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-bottom-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-bottom-left a{
    color: var(--font-color);
}


.hero-bottom-left a i {
    font-size: 20px;
}


.hero-bottom-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 20px;
}

.album-preview{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    filter: brightness(0.6);
}


.album-preview img{
    width: 100%;
}

.btn{
    background-color: var(--bg-color);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    color: white;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.hidden{
    display: none;
}

.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    top: 20%;
    left: 4%;
    z-index: -1;
}


.disabled {
    cursor: not-allowed;
    color: var(--font-grey);
}

.disabled:hover{
    cursor: not-allowed;
    color: var(--font-grey);
}

.disabled-btn{
    background-color: var(--font-grey);
    border: 2px solid var(--font-grey);
    color: var(--bg-color);
    cursor: not-allowed;
}

.disabled-btn:hover{
    background-color: var(--font-grey);
    border: 2px solid var(--font-grey);
    color: var(--bg-color);
    cursor: not-allowed;
}

/* About us  */

.about-us{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about-us-left,
.about-us-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.about-us-left{
    padding-left: 100px;
}

.about-us-right{
    gap: 20px;
}


.about-left-img-1{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    align-self: flex-start;
}

.about-left-img-1 img{
    width: 100%;
}

.about-left-img-2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-end;
}

.about-left-img-2 img{
    width: 100%;
}

h2{
    font-size: 39px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.about-us-right h2 {
    width: 500px;
}

h2 span{
    font-size: 39px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;   
}

.about-us-right-img{
    width: 300px;
}

.about-us-right p {
    width: 500px;
    font-weight: 200;
}

/* Products section  */

.products-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.categories-container
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.categories-container p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

.categories-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.categories-container ul li{
    font-size: 18px;
    font-weight: 100;
}

.category:hover{
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.selected{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.selected:hover{
    color: var(--font-color);
}

.products-container{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.rate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    padding: 5px;
}

.card img{
    width: 100%
}


.album-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-year{
    text-align: center;
    width: 250px;
    font-size: 10px;
    color: var(--font-grey);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.name-artist{
    text-align: center;
    width: 250px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.name-artist span{
    font-size: 16px;
    font-weight: 100;   
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.buy{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.price{
    font-size: 20px;
    font-weight: 700;
}

.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.add{
    border: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.add-to-cart .add i {
    font-size: 12px;
}

/* Contacto  */

.contact {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    min-height: 500px;
}

.contact-left,
.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.contact-left{
    align-items: flex-start; 
    gap: 25px; 
}

.contact-info {
    line-height: 40px;
}

.contact .redes a {
    color: var(--font-color);
}

.contact .redes a i{
    font-size: 30px;
}


.contact-right p {
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    width: 100%;
    height: 35px;
    padding-left: 5px;
}

textarea{
    height: 70px;
    padding: 5px;
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.error-msg{
    width: 100%;
    text-align: center;
    color: #e5587d;
    font-size: 14px;
}


/* Footer */

footer{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    border-top: 1px solid var(--font-grey);
    gap: 30px;
    margin-bottom: 5px;
}

footer a img{
    width: 150px;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer a{
    color: var(--font-color);
}


footer a i {
    font-size: 20px;
}

footer p{
    font-size: 14px;
    color: var(--font-grey);
    font-weight: 200;
}